.about_div
{
    margin-top:20px;

  
}
.about_inner_div
{
    padding:50px;
    background-color:rgba(241,196,15,0.4) ;width:90%;
    margin:auto;
    margin-top:40px;
border-radius:10px;
transition: 1s;
color:white;
}
.about_inner_div:hover{
    background-color:rgba(241,196,15);
    transition: 1s;
    color:white;
}



@media only screen and (max-width:900px)
{
    .about_inner_div
{
    padding:50px;
    background-color:rgba(241,196,15,0.4) ;
    
   margin:auto;
   margin-top:50px;
   width:90%;
border-radius:10px;
transition: 1s;
color:white;
}
}
@media only screen and (max-width:700px)
{
    .about_inner_div
    {
        padding:50px;
        background-color:rgba(241,196,15,0.4) ;
        
       margin:auto;
       margin-top:30px;
       width:90%;
    border-radius:10px;
    transition: 1s;
    color:white;
    }
    .about_inner_div
    {
     font-size:0.7rem;  
    }
}





/* code for features */
.outer{
    display: grid;
    grid-template-columns:  1fr 1fr;

}
.inner{
    padding:40px;
background-color:rgba(241,196,15);
margin:50px;
border-radius:10px;
color:white;

}



@media only screen and (max-width:900px)
{
    .about_inner_div
{
    padding:50px;
    background-color:rgba(241,196,15,0.4) ;
    
   margin:auto;
   margin-top:50px;
   width:90%;
border-radius:10px;
transition: 1s;
color:white;
}
.outer{
    display: grid;
    grid-template-columns: 1fr 1fr;
  

}
.inner{
    padding:50px;
background-color:rgba(241,196,15);
border-radius:10px;
color:white;

}
}
@media only screen and (max-width:700px)
{
    .about_inner_div
    {
        padding:50px;
        background-color:rgba(241,196,15,0.4) ;
        
       margin:auto;
       margin-top:30px;
       width:90%;
    border-radius:10px;
    transition: 1s;
    color:white;
    }
    .about_inner_div
    {
     font-size:0.7rem;  
    }
    .outer{
        display: grid;
        grid-template-columns: 1fr ;
    font-size: 0.7rem;
    }
}

.edit_note
{
    width:100%;
    border:0px;
    height:35px;
    margin:auto;
    margin-top:10px;
    border-radius: 5px;
  text-align: center;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  border:0px;
  outline:0px;
 
}

.button{
    margin:auto;
    margin-top:15px;
    text-align: center;
    border-radius: 5px; 
    padding:8px;
    
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}
